form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 3em;
  border: solid black 0.1em;
  border-radius: 30px;
  align-items: center;
}

form h2 {
  padding: 1em 2em;
}

form label {
  width: 80%;
}

form input {
  width: 80%;
  align-self: center;
  margin: 2em;
  padding: 1em;
  border: solid 0.1em transparent;
  border-radius: 10px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.checkbox input {
  transform: scale(2);
  border: transparent;
}
