* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.entries {
  display: flex;
  flex-direction: column;
}

.entries button {
  align-self: flex-start;
  padding: 0.3em 0.8em;
}
