* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  height: 100vh;
  /* Here starts when is good weather */

  background-color: #72a2c0;
  color: white;
}

.entries {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 0.1em solid black;
  border-radius: 30px;
}
